2HydP08kVGhPcFe8-RAG_L.json
{
  "name": "RAG_L",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1o00aIuWl_cYqJELL50qxH3j1PJhrgn22",
          "mode": "list",
          "cachedResultName": "n8n_rag",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1o00aIuWl_cYqJELL50qxH3j1PJhrgn22"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1216,
        -320
      ],
      "id": "b177e78d-1cb8-4556-a787-023c5d4f5f2b",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9x5ygfIdQhGntUqU",
          "name": "BlackMOon"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -928,
        -320
      ],
      "id": "216a83ad-529a-4fbd-95d1-9c95cf8eb7e5",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9x5ygfIdQhGntUqU",
          "name": "BlackMOon"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "r-rag-l",
          "mode": "list",
          "cachedResultName": "r-rag-l"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -672,
        -320
      ],
      "id": "074dfb1c-cca4-4678-b108-383747ef24c6",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "sl5gUeAbhBIbmJS3",
          "name": "rag_last"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -944,
        -96
      ],
      "id": "a44bd5af-2c5c-41f7-a31f-abce29e06e86",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "JoF8rCRWyotgHCcr",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -704,
        -112
      ],
      "id": "a0bdb085-882e-4e4d-ab4a-2ce3afe90f45",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -736,
        80
      ],
      "id": "b9987cac-016e-4371-a062-c777e5c6e940",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "you have tool , use that and answer for user chat"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        -336
      ],
      "id": "d880f7d6-5e72-4687-95bf-b34de584f5d4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -144,
        -336
      ],
      "id": "0041f3b4-3e6c-4b02-8616-f1d841f76385",
      "name": "When chat message received",
      "webhookId": "779472a3-e1bf-4199-bb37-c5b267d8c22a"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        -96
      ],
      "id": "d5ae0c84-184f-4007-9a2f-9585ef06f624",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JoF8rCRWyotgHCcr",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access the policy and FAQ database",
        "pineconeIndex": {
          "__rl": true,
          "value": "r-rag-l",
          "mode": "list",
          "cachedResultName": "r-rag-l"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        -112
      ],
      "id": "e0c6345e-92dc-47f6-9769-e659b65cbc24",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "sl5gUeAbhBIbmJS3",
          "name": "rag_last"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        304,
        96
      ],
      "id": "773926d1-ea1d-4ba8-96cd-44d324ddcaf0",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "JoF8rCRWyotgHCcr",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}