gmQfBHgpb7icPigt-Customer_support_workFlow.json
{
  "name": "Customer_support_workFlow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -1456,
        -240
      ],
      "id": "f9b3fc0b-5934-4834-8fc6-a1a9c86d64ce",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "h1LqE33iptV8ssqE",
          "name": "BlackMoon"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Customer support",
              "description": "An email that is related to helping out a customer. They nay be asking questions about our policies or questions about our products or services."
            },
            {
              "category": "Other",
              "description": "Any email that is not related to customer support"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -1152,
        -240
      ],
      "id": "ecd5a27e-3a05-4903-9ac2-b81f29d23a04",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1408,
        16
      ],
      "id": "d295664e-43ad-4a9e-a7cb-90f951fd59fd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JoF8rCRWyotgHCcr",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1040,
        0
      ],
      "id": "b6bb6b81-9fb3-4e4a-9781-1062c4b19baa",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.text }}",
        "options": {
          "systemMessage": "# Overview\nYou are a customer support agent for Zion Tech. Your job is to respond to\nwith relevant information using your knowledge Base tool.\nInstructions\n- Your output should be friendly and use emojis\nsign off as Mr. Helpful Zion Tech Solutions\n\n##Output \nOutput only the body content of the email."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -624,
        -336
      ],
      "id": "11eb592a-e375-46bb-bdae-de2890a6e72c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -768,
        -96
      ],
      "id": "0ee97789-8cb5-4ca4-84ad-c012d42d5b75",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "JoF8rCRWyotgHCcr",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access the policy and FAQ's information",
        "pineconeIndex": {
          "__rl": true,
          "value": "r-rag-l",
          "mode": "list",
          "cachedResultName": "r-rag-l"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -416,
        -64
      ],
      "id": "9d134514-4d52-4cd3-aae8-5d1786966cb2",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "sl5gUeAbhBIbmJS3",
          "name": "rag_last"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -544,
        160
      ],
      "id": "4b91af9d-a2d2-4b6c-b559-fb93f18ac248",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "JoF8rCRWyotgHCcr",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        112,
        -336
      ],
      "id": "7b60ccc2-4e83-4e72-a3c3-f0916967cecf",
      "name": "Reply to a message",
      "webhookId": "484c6959-980c-4786-acaf-b851f784c7bb",
      "credentials": {
        "gmailOAuth2": {
          "id": "h1LqE33iptV8ssqE",
          "name": "BlackMoon"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "CATEGORY_SOCIAL"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -272,
        -336
      ],
      "id": "99a400c1-8873-4f23-a971-a5618666480a",
      "name": "Add label to message",
      "webhookId": "55fbaabe-e79a-412b-a893-1f711d9cb143",
      "credentials": {
        "gmailOAuth2": {
          "id": "h1LqE33iptV8ssqE",
          "name": "BlackMoon"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1756655848,
        "possibleDuplicates": [
          "19900d9453fbfd15",
          "1990069f13ca1ab8"
        ]
      }
    }
  },
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}