rf2RmNPoprxYeOSe-Linkdin_Content_Creator_WorkFlow.json
{
  "name": "Linkdin Content Creator WorkFlow",
  "nodes": [
    {
      "parameters": {
        "content": "## Linkdin Content Creator WorkFlow\n",
        "height": 80,
        "width": 464,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        -384
      ],
      "id": "e84c8257-0789-4ff4-91fd-ed58a40d7081",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -368,
        32
      ],
      "id": "aab8d1e3-75a1-4af6-a260-2f0cee20260b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        -208
      ],
      "id": "dfadb2f5-f14b-4050-abe9-ef634b9d9ea1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XuCQm5byVseigBQp45jCntK2o2FQM73_IoRCRbG7p88",
          "mode": "list",
          "cachedResultName": "Linkdin Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XuCQm5byVseigBQp45jCntK2o2FQM73_IoRCRbG7p88/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XuCQm5byVseigBQp45jCntK2o2FQM73_IoRCRbG7p88/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "To Do"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -32,
        -64
      ],
      "id": "8d1ebdfb-c139-4fc5-a87b-7173ac214b7c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XapOyuUIKrlbjXUQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"Search the web for {{ $json.Topic }}\",\n  \"auto_parameters\": false,\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": true,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        -64
      ],
      "id": "56b355ad-fa7d-4c8b-b03f-87157441cbec",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Article 1:{{ $json.results[0].content }}\nArticle 2:{{ $json.results[1].content }}\nArticle 3:{{ $json.results[2].content }}",
        "options": {
          "systemMessage": "==========================================\n   🚀 LinkedIn Post Agent - System Prompt\n=========================================\n\n## Objective\nTransform insights from 3 given articles into a concise (100–150 words), professional, and inspiring LinkedIn post tailored for BTech undergraduates and entrepreneurs.  \n\n## Guidelines\n- Summarize 2–3 key insights across the articles.  \n- Use a professional yet motivational tone.  \n- Audience: BTech students & aspiring entrepreneurs.  \n- Keep post length between 100–150 words.  \n- Use 2–4 relevant hashtags.  \n- Add 2–3 tasteful emojis (✨🚀💡🌱🔥).  \n- Do not quote or directly reference articles—synthesize ideas.  \n\n## Tools\n- Article Input System (structured or plain text).  \n- Keyword Extraction Utility (optional).  \n- LinkedIn Character Counter (to enforce length).  \n\n## Output Template\n✨ Big idea / Hook line\n💡 Key takeaway 1\n🚀 Key takeaway 2\n🌱 Key takeaway 3\n\n#Innovation #Entrepreneurship #StudentLife #Leadership #FutureOfWork  \n\n## Example\nInput: 3 articles on student startups, entrepreneurial mindset, and tech innovation.  \nOutput:  \n\"✨ The future belongs to those who dare to build.  \n💡 Students are no longer waiting for graduation—they’re launching real startups today.  \n🚀 Innovation is about solving problems that matter, not just chasing trends.  \n🌱 Every small project is a step toward building tomorrow’s solutions.  \n\n🔥 To all students: start now, fail fast, and keep learning. Your journey defines the future.  \n\n#Entrepreneurship #Innovation #StudentLife #TechForGood\"  \n\n## SOP (Standard Operating Procedure)\n1. Receive the 3 articles and extract top insights.  \n2. Identify overlapping themes and distill into 2–3 core ideas.  \n3. Draft a concise LinkedIn post using the template.  \n4. Insert emojis and hashtags appropriately.  \n5. Review for clarity, brevity, grammar, and impact.  \n\n## Final Notes\n- Always create original posts; never copy from sources.  \n- Avoid technical jargon; keep content accessible.  \n- Prioritize clarity, motivation, and emotional resonance.  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        384,
        -64
      ],
      "id": "6c99b929-8cd5-4846-9c35-52a545ddfc33",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        176
      ],
      "id": "54069cf3-d759-499f-b821-f9321e5d8afe",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JoF8rCRWyotgHCcr",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1XuCQm5byVseigBQp45jCntK2o2FQM73_IoRCRbG7p88",
          "mode": "list",
          "cachedResultName": "Linkdin Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XuCQm5byVseigBQp45jCntK2o2FQM73_IoRCRbG7p88/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XuCQm5byVseigBQp45jCntK2o2FQM73_IoRCRbG7p88/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Get row(s) in sheet').item.json.Topic }}",
            "Status": "Created",
            "Content": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        736,
        -64
      ],
      "id": "813eb19c-6dbe-40ef-a86c-c4f45293d98d",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XapOyuUIKrlbjXUQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        176
      ],
      "id": "4315baf2-e04b-4130-933b-7d5ca81c4f1a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "DW4ftbiRarY0ZzNi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.Content }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1040,
        -64
      ],
      "id": "2c16a2a6-3f62-444e-befc-d7154b56c4f7",
      "name": "Create a post"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}